body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

ul {
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1rem;
}

.countries-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.country {
  border: 2px solid salmon;
  background-color: rgb(220, 20, 157);
  color: #fff;
  padding: 0.2rem;
}

.flag {
  width: 40%;
  float: right;
}
